.input{
    position: relative;
    top: 1px;
    left: 50px;
    width: 60%;
    height: 4%;
    background: white - 20;
}

button{
    background: yellow;
    z-index: 234;
    position: absolute;
}