.box{
    height: 500px;
    width: 500px;
    background-color: grey;
    position: relative;
    left: 33%;
    top: 20px;
    margin-bottom: 25px;
}

.input{
    position: relative;
    top: 1px;
    left: 50px;
    width: 60%;
    height: 4%;
}

.addClass{
    position: relative;
    top:10px;
    right: 350px;
}

.list{
    position: relative;
    top: 100px;  
    list-style-type: none;
}

.clear{
    position: absolute;
    top: 350px;
}